<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    {% include 'partials/boot.html'%}
    {% load crispy_forms_tags %}
</head>
<body>
    <h1>html home file </h1>
    <button class="btn btn-danger">click here</button>
    <br />
    <br />
    <form action="">
        {% csrf_token %}
        {{form.roll|as_crispy_field}}
        {{form.name|as_crispy_field}}
        {{form.address|as_crispy_field}}
    </form>
    
</body>
</html>